@import '../../assets/scss/variables';
$table-border: 2px solid #f3efee;

.task-list-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;

  &-header {
    background-color: #fff;
    font-size: 1.6rem;
    border-bottom: $table-border;

    &-cell {
      padding: 1.35rem;
      color: #96a6b0;
      font-family: $font-family-secondary;
      font-weight: $normal-font-weight;
    }
  }

  &-body {
    background-color: #fff;
    font-size: 1.35rem;

    &-row {
      &:hover {
        color: $primary;
        cursor: pointer;
        transition: color $transition-time;
      }

      &:not(:last-child) {
        border-bottom: $table-border;
      }
    }

    &-cell {
      padding: 1.35rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:first-child {
        display: flex;
        align-items: center;
        gap: 0.6rem;
      }
    }
  }
}

.task-icon {
  width: 1.8rem;
  height: 1.8rem;
}

.title-cell {
  width: 25rem;
  max-width: 25rem;
}

.task-status-box {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: $border-radius-small;
  display: inline-block;
  min-width: 5.8rem;
  text-align: center;
}

.priority-icon {
  padding-left: 0.5rem;
  height: 1.2rem;
  width: 1.2rem;

  &.low {
    fill: $gray;
  }

  &.medium {
    fill: $info;
  }

  &.high {
    fill: $warning;
  }

  &.urgent {
    fill: $danger;
  }
}

.due-date-cell {
  display: flex;
  align-items: center;
  gap: 0.6rem;

  svg {
    height: 1.2rem;
    width: 1.2rem;
    fill: $primary;
  }
}

@media only screen and (max-width: 1060px) {
  .status-col,
  .priority-col {
    display: none;
  }
}

@media only screen and (max-width: 930px) {
  .due-date-col {
    display: none;
  }
}

@media only screen and (max-width: 460px) {
  .assignee-col {
    display: none;
  }
}
