.dashboard {
  .greeting {
    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $primary;
      color: #fff;
      padding: 1rem 5rem;
      border-radius: 1.5rem 1.5rem 0px 1.5rem;
      max-height: 45rem;

      @media only screen and (max-width: 768px) {
        padding: 1.5rem;
      }
    }

    &-user {
      flex-basis: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
    }

    &-name {
      font-size: 3rem;
      font-weight: 600;
    }

    &-text {
      font-size: 1.8rem;
    }

    &-img {
      flex-basis: 30%;
      text-align: right;

      img {
        max-width: 25rem;
      }
    }

    @media only screen and (max-width: 768px) {
      &-user {
        flex-basis: unset;
        gap: 1rem;
      }

      &-name {
        font-size: 2rem;
      }

      &-text {
        font-size: 1.6rem;
      }

      &-img {
        display: none;
      }
    }
  }

  .quick-info {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;

    @media only screen and (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 2rem;
    }

    @media only screen and (max-width: 620px) {
      grid-template-columns: repeat(1, 1fr);
    }

    &-card {
      display: grid;
      grid-template-columns: 1fr 0.7fr;
      padding: 1rem;
      background-color: #fff;
      box-shadow: $box-shadow-light;
    }

    .card-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.5rem;
      margin-left: 2rem;
      color: #8ca1ba;
      font-size: 1.8rem;

      .number {
        font-size: 3.5rem;
        color: #284566;
        font-weight: 600;
      }
    }
  }
}

.tasks-list {
  margin-top: 2rem;

  &-heading {
    margin-top: 4rem;
    display: flex;
    align-items: baseline;
    gap: 1.5rem;

    .all-tasks-link {
      text-decoration: none;
      color: #1a1b39;
      font-size: 1.4rem;
      font-weight: 600;
      display: flex;
      text-decoration: none;
      line-height: 1.5;

      svg {
        fill: $primary;
        height: 2.2rem;
      }
    }
  }
}
