.select {
  position: relative;

  &-options {
    position: absolute;
    left: 0;
    background-color: #fff;
    box-shadow: $box-shadow-light;
    transition: opacity $transition-time;
    border-radius: $border-radius;
    min-width: 120%;

    &.dropdown-opened {
      height: auto;
      overflow: unset;
      opacity: 1;
    }

    &.dropdown-closed {
      height: 0;
      overflow: hidden;
      opacity: 0;
    }
  }

  &-options.opens-top {
    bottom: 100%;
  }

  &-options.opens-down {
    top: 100%;
  }

  &-option {
    padding: 1rem 2rem;
    cursor: pointer;
    transition: background-color $transition-time;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}
