$color-primary: #2929ff;

$color-purple-light: #284566;
$color-sky-blue: #86b7fe;

$color-brown: #545454;
$color-black: #343434;
$color-gray-1: #5e6c84;
$color-gray-2: #eeebf2;
$color-gray-3: #8ca1ba;
$color-gray-light: #788396;
