$sidebar-mobile-width: 22rem;

.sidebar {
  display: grid;
  justify-content: center;
  padding: 1rem 0;
  grid-template-rows: 7.5rem;

  picture {
    text-align: center;
    position: relative;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      width: 80%;
      margin-left: 10%;
      height: 3px;
      background: #fff;
      border-radius: 5rem;
      left: 0;
      bottom: 0.5rem;
    }
  }

  &-logo {
    width: 4rem;
  }

  &-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding-top: 4rem;
    width: 6rem;

    &-bottom {
      align-items: flex-end;
    }

    &-item {
      width: 100%;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      &.active {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 3px;
          height: 100%;
          background: #fff;
          border-radius: 32px;
        }
      }

      img {
        width: 2rem;
      }

      &-title {
        display: none;
        color: #fff;

        @media only screen and (max-width: 768px) {
          display: block;
        }
      }
    }
  }

  &-menu-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5rem;

    &-profile {
      cursor: pointer;

      &-icon {
        @include alignCenterFlexBox;
        height: 4.5rem;
        width: 4.5rem;
        background-color: #f1f1f1;
        font-size: 1.6rem;
        border-radius: 50%;
        text-decoration: none;
        color: $primary;
        font-weight: 600;
      }
    }
  }

  &-task-add {
    position: relative;
    cursor: pointer;

    img {
      width: 4.2rem;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -1.5rem;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 3px;
      background: #fff;
      border-radius: 32px;
    }
  }

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebar-mobile-width;
    height: 100%;
    justify-content: start;
    z-index: 999;
    transform: translateX(-$sidebar-mobile-width);
    transition: transform 0.3s;

    &-show {
      transform: translateX(0);
    }

    picture {
      width: 100%;
      text-align: left;
      margin-left: 10px;
      margin-top: 5px;

      &::after {
        content: unset;
      }
    }

    &-menu {
      width: 100%;

      &-item {
        justify-content: flex-start;
        gap: 2rem;

        img {
          width: 2.5rem;
          margin-left: 2rem;
        }
      }
    }

    &-logo {
      width: 14rem;
    }

    &-menu-bottom {
      align-items: flex-start;

      > * {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-left: 2rem;
      }

      &-profile-icon {
        height: 3rem;
        width: 3rem;
        font-size: 1.4rem;
      }
    }

    &-task-add {
      position: relative;
      cursor: pointer;

      img {
        width: 3rem;
      }

      &::after {
        content: unset;
      }
    }
  }
}
