.input {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
  color: #343434;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  outline: none;
}

.input-text {
  .text-label {
    margin-right: 1rem;
  }

  .text-input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid #fff;
  }
}
