body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: $font-family-primary;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-secondary;
}

a {
  display: inline-block;
  text-decoration: none;
}
