*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
} // This makes 1rem = 10px (makes easire to calculate in rem)

body {
  box-sizing: border-box;
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

#root,
.App {
  height: 100%;
  overflow: hidden;
}

::selection {
  background-color: $primary;
  color: #fff;
}

// -------------------------------
// HTML TAGS

a {
  text-decoration: none;
}

h2 {
  @include headingSecondary;
}
