*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%; // This makes 1rem = 10px (makes easire to calculate in rem)
}

body {
  font-size: 1.6rem;
  font-family: $font-family-primary;
  font-weight: $normal-font-weight;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 58%;
  }
}
