@mixin task-row {
  background: #fff;
  border-bottom: 1px solid #f3efee;
}

@mixin alignCenterFlexBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin headingSecondary {
  color: #2d2d48;
  font-size: 2.2rem;
  font-weight: 600;
}
